{{#extend "layout"}}
	{{#content "body"}}
		<div id="lede" class="main">
			<h1>Posts</h1>
			<p>Regrettable phrasing</p>
		</div>
		{{#each posts}}
		<div class="post">
			<div class="container {{type}}">
				<div class="main writing">
					<h2><a href="/posts/{{slug}}">{{title}}</a></h2>
					<small>{{niceDate published}}</small>
					{{marked summary}}
					{{marked content}}
				</div>
			</div>
		</div>
		{{/each}}
	{{/content}}
{{/extend}}