<article class="container {{type}}">
	<div id="lede" class="main">
		<h1>{{title}}</h1>
		<time datetime="{{roboDate published}}">{{scriptDate published}}</time>
	</div>
	<div class="main writing">
		{{marked content}}
		<a href="/posts" id="back"><small>Back to posts</small></a>
	</div>
</article>
